@font-face {
  font-family: "DINPro";
  src: url("/fonts/DINPro.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: "DINPro", sans-serif;
  font-size: 18px;
  line-height: 1.39;
}
h1 {
  font-size: 44px;
  line-height: 1.25;
}
input, textarea, select, button {
  font-family: "DINPro", sans-serif;
}
input {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
